<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a style="font-family: Amiri, Cinzel;  padding-top: 30px; padding-bottom: 5px; font-size: 40px ! important; color: black; font-weight: bold "
    id="logo" class="navbar-brand" href="#">Mongo Scraper</a>

  <div style="background-color: whitesmoke important!; padding-top: 40px; padding-bottom: 40px" class="collapse navbar-collapse"
    id="navbarText">
    <ul style="list-style-type:none ! important" class="navbar-nav mr-auto">
      <li class="nav-item active">

      </li>
      <li class="nav-item">
        <a href="/articles/viewSaved">
          <button style="margin-top: 0; margin-right: 25px !important" class=" btn btn-primary" id="viewSaved">View Saved Articles</button>
        </a>

      </li>

      <li class="nav-item">
        <button style="margin-top:0" class="btn btn-danger" id="scrape" data-toggle="modal" data-target="#alertModal">Scrape New Articles</button>
      </li>

    </ul>

  </div>
</nav>

<div style="background-image: url(assets/img/nyt.jpeg) ! important; background-position-y: 300px" style="top: 50%" id="jumbotron"
  class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 style="color: white ! important; font-family: Amiri, Cinzel; font-size: 90px ! important" class="display-3">Mongo Scraper</h1>
    <p style="color: white ! important; font-family: Amiri, Cinzel; font-size: 30px ! important" class="lead">New York Times Health Edition
      <i class="fas fa-file-medical-alt fa-lg"></i>
    </p>
    <hr style="color: white ! important" class="my-2">
    <!-- <p>More info</p> -->
    <!-- <p class="lead">
                  <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
              </p> -->
  </div>
</div>



<div style="background-image: url(assets/img/wood.png) ! important" class="filler"></div>

{{#each articles}} {{#unless saved}}

<figure style="background-color: whitesmoke; margin-left: 5%; margin-bottom: 3%; padding-bottom: 2%; padding: 15px" class=" storyPanel clearfix">
  <a href="{{storyUrl}}" class="pull-right" target="_blank">
    <div class="imgBox">
      <img src="{{imgUrl}}" alt="" class="storyImg" height="150" style="margin-right:10px; margin-top: 10px; margin-bottom:10px">
    </div>
  </a>
  {{#if storyUrl}}
  <a href="{{storyUrl}}" class="storyLink" target="_blank">
    <h2 style="font-family: Amiri, Cinzel; color: black ! important" class="storyHeadline">{{headline}}</h2>
  </a>
  {{else}}
  <h3 class="storyHeadline">{{headline}}</h3>
  {{/if}}
  <h5 class="storyByline">{{byLine}}</h5>
  <h6 class="storySummary">{{summary}}</h6>
  <button class="storyButton btn btn-primary" id="saveArticle" data-id="{{_id}}">Save Article</button>
</figure>

{{/unless}} {{/each}} {{!-- Modal for alerting number of scraped articles --}}
<div id="alertModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h2 style="font-family: Amiri, Cinzel ">You have scraped
          <span id="numArticles"></span> new articles
          <br>
          <i class="fas fa-file-medical-alt fa-lg"></i>
        </h2>
      </div>
    </div>
  </div>
</div>

{{!-- error modal --}}
<div id="error" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h2 style="font-family: Amiri, Cinzel "> There must have been an error. Please try again.</h2>
      </div>
    </div>
  </div>
</div>