<nav style="background-image: url(assets/img/wood.png) ! important; padding-top: 25px ! important; padding-bottom: 25px !important; height: 80px"class="navbar navbar-expand-lg navbar-light bg-light">
  <a style="font-family: Amiri, Cinzel; padding-top: 10px; padding-bottom: 20px important !; font-size: 40px ! important; color: black; font-weight: bold "
    id="logo" class="navbar-brand" href="#">Mongo Scraper</a>

  <div style="background-color: whitesmoke important!; padding-top: 25px; padding-bottom: 25px; margin-top: -25px; margin-bottom: 3%;"  class="collapse navbar-collapse" id="navbarText">
    <ul style="list-style-type:none ! important" class="navbar-nav mr-auto">
      {{!--
      <li class="nav-item active">

      </li> --}}
      <li class="nav-item active">
        <a href="/">
          <button style="margin-top: 10px" class="btn btn-warning">Home</button>
        </a>
      </li>
    </ul>
  </div>



  <!-- <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li> -->
  {{!--
  <li class="nav-item">
    <button style="margin-top: 5% ! important" class="btn btn-danger" id="scrape" data-toggle="modal" data-target="#alertModal">Scrape New Articles</button>
  </li> --}}

  <div style="background-image: url(assets/img/nyt.jpeg) ! important; background-position-y: 300px" id="jumbotron" style="margin-top: 25px" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 style="color: white ! important;font-family: Amiri, Cinzel; font-size: 90px ! important;" class="display-3">Saved Articles</h1>
      <p style="color: white ! important;font-family: Amiri, Cinzel; font-size: 30px ! important;" class="lead">Your Saved Articles</p>
      <hr style="color: white ! important" class="my-2">
      <!-- <p>More info</p> -->
      <!-- <p class="lead">
                  <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
              </p> -->
    </div>
  </div>









  {{!--
  <header class="header">
    <h1 id="neon">[ SAVED ARTICLES ]</h1>
    <nav class="button-group">
      <a href="/">
        <button class="button-dark">Home</button>
      </a>
    </nav>
  </header> --}}
  <div class="filler"></div>

  {{!-- #each to iterate through articles and create article panels --}} {{#each articles}} {{#if saved}}
  <figure style="background-color: whitesmoke; padding-left: 2%; padding-bottom: 2%; margin-left: 5%; margin-bottom: 3%" class="storyPanel clearfix">
    <a href="{{storyUrl}}" class="pull-right" target="_blank">
      <div class="imgBox">
        <img src="{{imgUrl}}" alt="" class="storyImg" height="150" style="margin-right:10px; margin-top: 10px; margin-bottom:10px">
      </div>
    </a>
    {{#if storyUrl}}
    <a href="{{storyUrl}}" class="storyLink" target="_blank">
      <h2 style="font-family: Amiri, Cinzel; color: black ! important" class="storyHeadline">{{headline}}</h2>
    </a>
    {{else}}
    <h3 class="storyHeadline">{{headline}}</h3>
    {{/if}}
    <h5 class="storyByline">{{byLine}}</h5>
    <h6 class="storySummary">{{summary}}</h6>
    <button class="addNote storyButton btn btn-warning" data-id="{{_id}}">Add Note</button>
    <button class="deleteArticle storyButton btn btn-danger" data-id="{{_id}}">Delete Article</button>
  </figure>
  {{/if}} {{/each}} {{!-- modal for displaying and creating notes --}}
  <div id="noteModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 style="font-family: Amiri, Cinzel" class="modal-title text-center">Add a note</h4>
        </div>
        <div class="modal-body">
          <input style="margin-top: 5px; margin-bottom: 5px" type="text" id="noteTitleEntry" class="noteInput" placeholder="Enter Title">
          <input type="text" id="noteBodyEntry" class="noteInput" placeholder="Enter Body">
          <div id="noteArea"></div>
        </div>
        <div class="modal-footer">
          <h5 style="font-family: Amiri, Cinzel" class="instructions">Click note to review. X to delete.</h5>
          <button class="btn btn-warning" type="button" id="submitNote">Save Note</button>
        </div>
      </div>
    </div>
  </div>

  {{!-- error modal --}}
  <div id="error" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <h2>There was an error processing your request. Please try again later.</h2>
        </div>
      </div>
    </div>
  </div>